.password-settings {
    border: 1px solid burlywood;
    border-radius: 5px;
    background-color: burlywood;
    max-width: 800px;
    margin: -10px auto 15px;
    padding: 25px;
  }
  
  .password-settings h3 {
    font-size: 18px;
    font-weight: normal;
  }
  
  .password-btn {
    background-color:black;
    color: #ffffff !important;
    font-weight: 600;
  }